@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 0px;

}

.header {

    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.9;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.fondo {

    position: fixed;
    width: 100%;
    z-index: -400;
}

.logo {

    text-shadow: 0 0 20px purple;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
}

.logo:hover {

    color: gray;
    transition: all 0.5s ease;
}

.navigation ul{

    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;
}

.header .navigation ul li .button {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    display: block;
    transition: all .3s ease;

}

.header .navigation ul li .button:hover {
    background-color: purple;   
    padding: 23px;
    transition: all 0.6s ease;
}

.header .navigation ul li ul {
position: absolute;
right: 0;
width: 300px;
background-color: black;
display: none;
}

.header .navigation ul li ul li .button {

    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul {

    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover > ul {
    
    display: initial;
}

#toggle, 
.header label {

    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;
    position: relative;
}

@media(max-width:950px) {
    .header label {
        display: initial;
    }

    .header { 
        
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .header .navigation ul li {

        width: 100%;
    }

    .header .navigation ul li .button {

        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {

        background-color: black;
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked ~ .navigation {
        display: block;
    }

}

.geogebra {
    position: relative;
    top: 50px;
}

footer {

    background: black;
    width: 100%;
    bottom: -30em;
    height: 200px;
    opacity: 0.9;
    position: absolute;
    color: #fff;
}

.footer-contenedor {

    color: #fff;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px;
}

.footer-contenedor .box a {

    width: 10px;
    height: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    text-shadow: 0 0 20px purple;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-decoration: none;
    
    
}

.footer-contenedor .footer-bottom {

    text-align: center;
    justify-content: center;
}

.footer-contenedor a img {

    position: absolute;
    left: 800px;
    width: 300px;
    height: 500px;

 

}



