@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.iniciocont {

    position: relative;
    width: 1366px;
    height: 900px;
}

.inicioimg{
    position: absolute;
    width: 100%;
    height: 900px;
}

.btn3 {

    border: 3 black solid;
    border-radius: 0;
    position: absolute;
    text-align: center;
    height: 70px;
    width: 200px;
    top: 310px;
    padding: 20px;
    font-size: 25px;
    left: 300px;
    text-decoration: none;
    color: white;
    background-color: aqua;
    box-shadow: 0 0 20px white;
    transition: all 0.6s ease;
    z-index: 4;
}

.btn3:hover {
     
    background-color: #0099ff;
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);

}

.nubes {

    position: absolute;
    width: 1366px;
    height: 900px;
    right: -510px;
    z-index: 3;
    top: 250px;
}
.nubes2 {

    position: absolute;
    width: 1366px;
    height: 900px;
    right: -510px;
    z-index: 3;
    top: 500px;
}
.iniciotxt {

    position: absolute;
    color: white ;
    top: 17em;
    left: 6em;
    height: 50px;
    
}

.iniciotxt .mayuscula {

    text-shadow: 0 0 20px white;
    font-size: 10em;
    text-transform: uppercase;
}
.iniciotxt .arriba {

    position: absolute;
    left: -70px;
    font-size: 40px;
    top: -60px;
}

.iniciotxt .abajo {

    position: absolute;
    text-shadow: 0 0 10px black;
    left: 90px;
    font-size: 40px;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 450px;

}

.header {

    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.9;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.fondo {

    position: fixed;
    width: 100%;
    z-index: -400;
}

.logo {

    text-shadow: 0 0 20px purple;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
}

.logo:hover {

    color: gray;
    transition: all 0.5s ease;
}

.navigation ul{

    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;
}

.header .navigation ul li .button {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    display: block;
    transition: all .3s ease;

}

.header .navigation ul li .button:hover {
    background-color: purple;   
    padding: 23px;
    transition: all 0.6s ease;
}

.header .navigation ul li ul {
position: absolute;
right: 0;
width: 300px;
background-color: black;
display: none;
}

.header .navigation ul li ul li .button {

    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul {

    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover > ul {
    
    display: initial;
}

#toggle, 
.header label {

    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;
    position: relative;
}

@media(max-width:950px) {
    .header label {
        display: initial;
    }

    .header { 
        
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .header .navigation ul li {

        width: 100%;
    }

    .header .navigation ul li .button {

        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {

        background-color: black;
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked ~ .navigation {
        display: block;
    }

}

:root {
    --color:aqua;
}

.btn {

    position: absolute;
    text-align: center;
    height: 40px;
    width: 100px;
    bottom: -50px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    background-color: purple;
    box-shadow: 0 0 20px purple;
    transition: all 0.6s ease;
    z-index: 2;
    
}

.btn2 {

    border: 3 black solid;
}

.btn2:hover {
     
    background-color: #001a2b;
    padding: 12px;
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
}
.contenido-titulo {
    background: linear-gradient(to right, rgb(116, 59, 169), purple, rgb(57, 179, 213));
    position: relative;
    width: 70%;
    height: 150px;
    border-radius: 40px;
    left: 180px;
    top: 800px;
    z-index: -1;
    color: #fff;
    font-size: 35px;
    margin: 20px;
}

.contenido-titulo  h1 {
position: absolute;
  top: 30px;
  left: 80px;
}

.contenido-parrafo {

    color: #fff;
    margin: 20px;
    font-size: 23px;
}
    

.contenido-b {

    background: linear-gradient(to right, rgb(116, 59, 169), purple, rgb(57, 179, 213));
    position: relative;
    width: 85%;
    height: 500px;
    left: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
    padding: 40px;
    top: 900px;
    z-index: -1;
}

.contenido-titulo-2 {
    background: linear-gradient(to right, rgb(116, 59, 169), purple, rgb(57, 179, 213));
    position: relative;
    width: 70%;
    height: 150px;
    border-radius: 40px;
    left: 180px;
    top: 1000px;
    z-index: -1;
    color: #fff;
    font-size: 35px;
    margin: 20px;
}


.contenido-titulo-2  h1 {
    position: absolute;
      top: 30px;
      left: 350px;
    }
.sistema-solar {

    width: 80em;
    font-size: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 1300px;
    left: 50em;
    height: 40em;

}


.imagen-sol {

    position: absolute;
    top: 9em;
    left: 9.3em;
    width: 23em;
    height: 19em;
    animation: orbit 100s linear infinite;
    z-index: 4;
    border-radius: 20px;
}

.imagen-sol:hover {

    animation-play-state: paused;
}


.prisma-orbita-1, .prisma-orbita-2, .prisma-orbita-3 {


    position: absolute;
    border-width: 0.1em ;
    border-color: white ;
    border-style: solid;
    border-radius: 50%;

}



.prisma-orbita-1 {

    top: 0em;
    left: 0em;
    height: 40em;
    width: 40em;
    animation: orbit 30s linear infinite;
    z-index: 3;
}

.img-prisma-1 {

    position: absolute;
    left: 300px;
    top:25px;
    width: 8em;
    z-index: 3;
}

.prisma-orbita-1:hover {
    animation-play-state: paused;
    border-color: blueviolet;
    transition: all 0.6s ease;
}

.img-prisma-1:hover {
    animation-play-state: paused;
}

.prisma-orbita-2 {

    top: -11em;
    left: -11em;
    height: 63em;
    width: 63em;
    animation: orbit 70s linear infinite;
    z-index: 2;
   }

   .prisma-orbita-2:hover {
    animation-play-state: paused;
    border-color: blueviolet;
    transition: all 0.6s ease;
    }

    .img-prisma-2 {

        position: absolute;
        left: 400px;
        top:550px;
        width: 10em;
        z-index: 3;
    }

    .img-prisma-2:hover {
        animation-play-state: paused;
    }
    
    .img-prisma-3 {

        position: absolute;
        left: -45px;
        top:310px;
        width: 10em;
        z-index: 2;
    }

   .img-prisma-3:hover {
    animation-play-state: paused;
    }

   .prisma-orbita-3 {

    top: -22em;
    left: -22em;
    height: 85em;
    width: 85em;
    animation: orbit 110s linear infinite;
    z-index: 1;
    }

    .prisma-orbita-3:hover {
        animation-play-state: paused;
        border-color: blueviolet;
        transition: all 0.6s ease;
        }
        
        .img-prisma-4 {
    
            position: absolute;
            left: 300px;
            top:-50px;
            width: 10em;
            z-index: 3;
        }
    
       .img-prisma-4:hover {
        animation-play-state: paused;
        }

        .img-prisma-5 {
    
            position: absolute;
            left: 780px;
            top:500px;
            width: 10em;
            z-index: 3;
        }
    
       .img-prisma-5:hover {
        animation-play-state: paused;
        }
   
   


@keyframes orbit {
    from {
        transform: rotate(0deg);
      }

    to {

        transform: rotate(360deg);
    }
}

footer {

    background: black;
    width: 100%;
    bottom: -90em;
    height: 200px;
    opacity: 0.9;
    position: absolute;
    color: #fff;
}

.footer-contenedor {

    color: #fff;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px;
}

.footer-contenedor .box a {

    width: 10px;
    height: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    text-shadow: 0 0 20px purple;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-decoration: none;
    
    
}

.footer-contenedor .footer-bottom {

    text-align: center;
    justify-content: center;
}

.footer-contenedor a img {

    position: absolute;
    left: 800px;
    width: 300px;
    height: 500px;

 

}



